<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div class="container">
        <div class="welcome-container">
            <div class="title">¡Bienvenido!</div>
            <div class="subtitle">Felicidades has creado esta tabla en una BD nueva</div>
            <div class="message">Esperamos que tengas una excelente experiencia</div>
        </div>
    </div>

    <div class="table-container">
        <h1>Tabla de Películas</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Género</th>
                    <th>Clasificación</th>
                    <th>Año de lanzamiento</th>
                    <th>Imagen</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody id="tabla-peliculas">
                <!-- Aquí se agregarán los registros de la tabla peliculas -->
            </tbody>
        </table>
    </div>
    <script src="scripts.js"></script>
</body>
</html>
